<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<div th:if="${session.nhanVien != null}">-->


<head>
    <title>Quan Ly Danh Muc</title>
    <meta charset="utf-8">
    <head th:replace="giao_dien_chinh/libAdmin :: libheaderadmin"></head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div>
    <div th:replace="giao_dien_chinh/navbarAdmin :: headerAdmin"></div>
    <div class="d-flex">
        <div th:replace="giao_dien_chinh/navbarAdmin :: sidenavAdmin"></div>
        <div class="pt-3" style="width: calc(100% - 250px);">
            <div class="container">
                <h2 style="text-align: center;">Quản Lý Danh Mục</h2>


                <div class="row">
                    <div class="col-sm-13">
                        <label class="lb-form">Tên danh mục</label>
                        <input id="tenDanhMuc" class="form-control" required>
                        <span id="errorTenDanhMuc" class="text-danger"></span>

                        <label class="lb-form">Ghi chú</label>
                        <input id="moTa" class="form-control" required>
                        <span id="errorMoTa" class="text-danger"></span>
                        <br>
                        <button onclick="validateForm('add')" class="btn btn-primary">Add</button>
                        <button onclick="validateForm('update')" class="btn btn-warning">Update</button>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $('#example').DataTable();
</script>


<script src="/js/danh_muc/danhmuc.js"></script>


<!--</div>-->
<!--<div th:if="${session.nhanVien == null}">-->
<!--    <p>Vui lòng <a th:href="@{/dang-nhap/login}">đăng nhập</a>.</p>-->
<!--</div>-->

</html>