<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quan Ly San Pham</title>
        <meta charset="utf-8">
        <head th:replace="~{giao_dien_chinh/libAdmin :: libheaderadmin}"></head>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
    <div>
        <div th:replace="giao_dien_chinh/navbarAdmin :: headerAdmin"></div>
        <div class="d-flex">
            <div th:replace="giao_dien_chinh/navbarAdmin :: sidenavAdmin"></div>
            <div class="pt-3" style="width: calc(100% - 250px);">
                <div class="container">
                    <h2 style="text-align: center;">Quản Lý Sản Phẩm</h2>



                    <br><br>
                    <!-- Form Thêm Sản Phẩm -->
                    <div class="row">
                        <div class="col-sm-13">
                            <label class="lb-form">Mã Sản Phẩm<span style="color: red;">*</span></label>
                            <input id="maSanPham" class="form-control" required>
                            <span id="errorMaSanPham" class="text-danger"></span>
                            <br>

                            <label class="lb-form">Tên Sản Phẩm<span style="color: red;">*</span></label>
                            <input id="tenSanPham" class="form-control" required>
                            <span id="errorTenSanPham" class="text-danger"></span>
                            <br>

                            <label class="lb-form">Ngày Nhập<span style="color: red;">*</span></label>
                            <input id="ngayNhap" class="form-control" type="date" required>
                            <span id="errorNgayNhap" class="text-danger"></span>
                            <br>

                            <label class="lb-form">Ngày Sửa<span style="color: red;">*</span></label>
                            <input id="ngaySua" class="form-control" type="date" required>
                            <span id="errorNgaySua" class="text-danger"></span>
                            <br>

                            <label class="lb-form">Danh Mục<span style="color: red;">*</span></label>
                            <select id="danhMuc" class="form-control">
                                <option value="">Chọn danh mục</option>
                                <option th:each="danhMuc : ${dsDanhMuc}" th:value="${danhMuc.id}" th:text="${danhMuc.tendanhmuc}"></option>
                            </select>
                            <span id="errorDanhMuc" class="text-danger"></span>
                            <br>
                            <a th:href="@{/san-pham/danh-muc}">Thêm danh mục</a>
                            <br>

                            <br><label class="lb-form">Hãng<span style="color: red;">*</span></label>
                            <select id="hang" class="form-control">
                                <option value="">Chọn hãng</option>
                                <option th:each="hang : ${dsHang}" th:value="${hang.id}" th:text="${hang.tenHang}"></option>
                            </select>
                            <span id="errorHang" class="text-danger"></span>
                            <br>
                            <a th:href="@{/san-pham/hang}">Thêm hãng</a>
                            <br>

                            <label class="lb-form">Trạng Thái<span style="color: red;">*</span></label>
                            <select id="trangThai" class="form-control">
                                <option value="">Chọn trạng thái</option>
                                <option value="Còn hàng">Còn Hàng</option>
                                <option value="Hết hàng">Hết Hàng</option>
                            </select>
                            <span id="errorTrangThai" class="text-danger"></span>
                            <br>

                            <button onclick="validateForm('ADD')" class="btn btn-primary">Add</button>
                            <br><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</div>

<script>
    $('#example').DataTable();
</script>


<script th:inline="javascript">

    function hasNegativeNumber(str) {
        // Regex to check if the string contains a negative number
        const regex = /-\d+/;
        return regex.test(str);
    }



    async function validateForm(action) {
        // Clear error messages
        document.getElementById("errorMaSanPham").innerText = "";
        document.getElementById("errorTenSanPham").innerText = "";
        document.getElementById("errorNgayNhap").innerText = "";
        document.getElementById("errorDanhMuc").innerText = "";
        document.getElementById("errorHang").innerText = "";
        document.getElementById("errorNgaySua").innerText = "";
        document.getElementById("errorTrangThai").innerText = "";

        // Get values
        const maSanPham = document.getElementById("maSanPham").value;
        const tenSanPham = document.getElementById("tenSanPham").value;
        const ngayNhap = document.getElementById("ngayNhap").value;
        const ngaySua = document.getElementById("ngaySua").value;
        const danhMuc = document.getElementById("danhMuc").value;
        const hang = document.getElementById("hang").value;
        const trangThai = document.getElementById("trangThai").value;

        let isValid = true;

        // Validate mã sản phẩm (bỏ qua khi hành động là update)
        if (maSanPham.trim() === "") {
            document.getElementById("errorMaSanPham").innerText = "Mã sản phẩm không được để trống.";
            isValid = false;
        } else if (hasNegativeNumber(maSanPham)) {
            document.getElementById("errorMaSanPham").innerText = "Mã sản phẩm không được chứa số âm.";
            isValid = false;
        }
        else if (action !== 'update') {
            // Check mã sản phẩm trùng chỉ khi không phải hành động update
            const isDuplicate = await checkMaSanPham(maSanPham);
            if (isDuplicate) {
                document.getElementById("errorMaSanPham").innerText = "Mã sản phẩm đã tồn tại.";
                isValid = false;
            }
        }

        // Validate tên sản phẩm
        if (tenSanPham.trim() === "") {
            document.getElementById("errorTenSanPham").innerText = "Tên sản phẩm không được để trống.";
            isValid = false;
        } else if (hasNegativeNumber(tenSanPham)) {
            document.getElementById("errorTenSanPham").innerText = "Tên sản phẩm không được chứa số âm.";
            isValid = false;
        }

        // Validate ngày nhập

        if (ngayNhap === "") {
            document.getElementById("errorNgayNhap").innerText = "Ngày nhập không được để trống.";
            isValid = false;
        } else if (isNaN(Date.parse(ngayNhap))) {
            document.getElementById("errorNgayNhap").innerText = "Ngày nhập không hợp lệ.";
            isValid = false;
        } else {
            const today = new Date().toISOString().split("T")[0]; // Lấy ngày hiện tại theo định dạng YYYY-MM-DD
            if (ngayNhap > today) {
                document.getElementById("errorNgayNhap").innerText = "Ngày nhập không được là ngày trong tương lai.";
                isValid = false;
            }
        }
        // Validate ngày sửa


        if (ngaySua === "") {
            document.getElementById("errorNgaySua").innerText = "Ngày sửa không được để trống.";
            isValid = false;
        } else if (isNaN(Date.parse(ngaySua))) {
            document.getElementById("errorNgaySua").innerText = "Ngày sửa không hợp lệ.";
            isValid = false;
        } else {
            const today = new Date().toISOString().split("T")[0]; // Lấy ngày hiện tại theo định dạng YYYY-MM-DD
            if (ngaySua > today) {
                document.getElementById("errorNgaySua").innerText = "Ngày sửa không được là ngày trong tương lai.";
                isValid = false;
            }
        }



        // Validate danh mục
        if (danhMuc === "") {
            document.getElementById("errorDanhMuc").innerText = "Vui lòng chọn danh mục.";
            isValid = false;
        }

        if (hang === "") {
            document.getElementById("errorHang").innerText = "Vui lòng chọn hãng.";
            isValid = false;
        }

        // Validate trạng thái
        if (trangThai === "") {
            document.getElementById("errorTrangThai").innerText = "Vui lòng chọn trạng thái.";
            isValid = false;
        }

        // If all fields are valid, proceed with action
        if (isValid) {
            if (action === 'ADD') {
                themSP();
            } else if (action === 'update') {
                capNhatSP(window.currentSanPhamId);
            }
        }
    }




    async function themSP() {
        var con = window.confirm("Bạn có chắc chắn muốn thêm sản phẩm?");
        if (con == false) {
            return;
        }

        // Thu thập dữ liệu từ form
        const danhMucValue = document.getElementById("danhMuc").value;
        const iddanhMuc = danhMucValue === "" ? null : parseInt(danhMucValue);

        const hangValue = document.getElementById("hang").value;
        const idhang = hangValue === "" ? null : parseInt(hangValue);

        const payload = {
            maSanPham: document.getElementById("maSanPham").value,
            tenSanPham: document.getElementById("tenSanPham").value,
            ngayNhap: document.getElementById("ngayNhap").value,
            ngaySua: document.getElementById("ngaySua").value,
            iddanhMuc: iddanhMuc,
            idhang: idhang,
            trangThai: document.getElementById("trangThai").value
        };

        const response = await fetch("/san-pham/them-san-pham", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(payload)
        });
        const result = await response.text();
        alert(result);
        if (response.ok) {
            window.location.href = "/san-pham/hien-thi";
        } else {
            alert("Đã có lỗi xảy ra khi thêm sản phẩm.");
        }
    }

    async function loadSanPhamData(idsp) {
        console.log("ID sản phẩm nhận được:", idsp); // In ra để kiểm tra idsp
        try {
            const id = parseInt(idsp, 10);
            if (isNaN(id)) {
                console.error("ID sản phẩm không hợp lệ:", idsp);
                alert("ID sản phẩm không hợp lệ.");
                return;
            }
            // Gửi yêu cầu GET đến server để lấy dữ liệu sản phẩm
            const response = await fetch(`/san-pham/danh-sach-san-pham/${id}`);

            // Kiểm tra nếu phản hồi không thành công
            if (!response.ok) {
                console.error("Lỗi khi tải dữ liệu sản phẩm:", response.statusText);
                alert("Không thể tải dữ liệu sản phẩm.");
                return;
            }


            const sanPham = await response.json();

            // Điền dữ liệu vào form
            document.getElementById("maSanPham").value = sanPham.maSanPham;
            document.getElementById("tenSanPham").value = sanPham.tenSanPham;
            document.getElementById("ngayNhap").value = sanPham.ngayNhap;
            document.getElementById("ngaySua").value = sanPham.ngaySua;
            document.getElementById("danhMuc").value = sanPham.danhMuc.id;
            document.getElementById("hang").value = sanPham.hang.id;
            document.getElementById("trangThai").value = sanPham.trangThai;

            window.currentSanPhamId = idsp;
        } catch (error) {
            console.error("Đã có lỗi xảy ra khi tải dữ liệu sản phẩm:", error);
            alert("Không thể tải dữ liệu sản phẩm.");
        }
    }


    // Hàm gọi API kiểm tra mã sản phẩm trùng
    async function checkMaSanPham(maSanPham) {
        try {
            const response = await fetch(`/san-pham/check-ma-san-pham?maSanPham=${encodeURIComponent(maSanPham)}`);
            if (response.ok) {
                return await response.json(); // Trả về true nếu mã trùng
            }
            console.error("Failed to check mã sản phẩm.");
            return false;
        } catch (error) {
            console.error("Error checking mã sản phẩm:", error);
            return false;
        }
    }




    async function openChiTietModal(sanPhamId){
        var url = '/san-pham/ctsp?idctsp='+sanPhamId
        const response = await fetch(url, {
            method: 'GET'
        });
        var result = await response.json();
        console.log(result)
        var main = '';
        for(var i=0; i< result.length; i++){
            main += `
                <tr>
                    <td>${result[i].id}</td>
                    <td>${result[i].sanPham.tenSanPham}</td>
                    <td>${result[i].mauSac.tenMau}</td>
                    <td>${result[i].kichThuoc.tenKichThuoc}</td>
                    <td>${result[i].chatLieu.tenChatLieu}</td>
                    <td>${result[i].soLuong}</td>
                    <td>${formatmoney(result[i].donGia)}</td>
                    <td>${result[i].moTa}</td>
                    <td><img th:src="${result[i].anhSanPham}" style="width: 100px; height: 100px; object-fit: cover;"></td>

                </tr>
            `
        }
        document.getElementById("listctsp").innerHTML = main
    }





    async function capNhatSP(idsp) {
        var con = window.confirm("Bạn có chắc chắn muốn cập nhật sản phẩm?");
        if (con == false) {
            return;
        }

        // Thu thập dữ liệu từ form
        const payload = {
            maSanPham :document.getElementById("maSanPham").value,
            tenSanPham :document.getElementById("tenSanPham").value,
            ngayNhap :document.getElementById("ngayNhap").value,
            ngaySua: document.getElementById("ngaySua").value,
            iddanhMuc: document.getElementById("danhMuc").value,
            idhang: document.getElementById("hang").value,
            trangThai: document.getElementById("trangThai").value,
        };

        // Gửi dữ liệu đến server (PUT request)
        const response = await fetch(`/san-pham/cap-nhat-san-pham/${idsp}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload) // Chuyển dữ liệu thành JSON
        });

        // Kiểm tra phản hồi từ server
        if (response.ok) {
            alert("Sản phẩm đã được cập nhật thành công!");
            // Chuyển hướng về trang hiển thị danh sách sản phẩm
            window.location.href = "/san-pham/hien-thi";
        } else {
            alert("Đã có lỗi xảy ra khi cập nhật sản phẩm.");
        }
    }



    function formatmoney(money) {
        const VND = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
        return VND.format(money);
    }
</script>
</html>


