<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>

<nav th:fragment="headerAdmin" class="navbar navbar-expand-sm bg-light shadow">
    <div class="container-fluid">
        <!-- logo -->
        <a href="/hoa-don/doanh-thu">
            <img src="/images/logo.png" alt="" style="max-height: 80px;">
        </a>
        <!-- Phần Navigation cho User đã đăng nhập -->
        <ul class="navbar-nav align-items-center">
            <!-- Hiển thị thông tin người dùng -->
            <li class="nav-item me-3">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person-circle me-2"></i>
                    <span class="text-light" th:text="${nhanVien}">Xin chào</span>
                </div>
            </li>
            <!-- Nút đăng xuất -->
            <li class="nav-item">
                <a class="nav-link btn btn-outline-light" href="/logout">
                    <i class="bi bi-box-arrow-right me-1"></i>
                    Đăng xuất
                </a>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="sidenavAdmin">
    <div class="bg-light pt-3" style="width: 250px; min-height: calc(100vh - 66px);">
        <ul class="nav flex-column">
            <br>
            <li class="nav-item">
                <a class="nav-link btn text-black" href="/san-pham/hien-thi" style="text-align: start">
                    <i class="bi bi-box-seam"></i> Quản Lý Sản Phẩm
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link btn text-black" href="/ban-hang-online/don-hang" style="text-align: start">
                    <i class="bi bi-cart4"></i> Bán Hàng Online
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link btn text-black" href="/ban-hang-off/hien-thi" style="text-align: start">
                    <i class="bi bi-shop"></i> Bán Hàng Tại Quầy
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link btn text-black" href="/hoa-don" style="text-align: start">
                    <i class="bi bi-receipt"></i> Quản Lý Hóa Đơn
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link btn text-black" href="/nhan-vien/hien-thi" style="text-align: start">
                    <i class="bi bi-people"></i> Quản Lý Nhân Viên
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link btn text-black" href="/hoa-don/doanh-thu" style="text-align: start">
                    <i class="bi bi-bar-chart-line"></i> Thống Kê
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link btn text-black" href="/khuyen-mai/hien-thi" style="text-align: start">
                    <i class="bi bi-bar-chart-line"></i> Khuyến mãi
                </a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link btn text-black" href="/mau-sac/hien-thi" style="text-align: start">
                    <i class="bi bi-box-seam"></i> Quản Lý Màu sắc
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>