<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ban hang tai quay</title>
    <head th:replace="giao_dien_chinh/libAdmin :: libheaderadmin"></head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div th:replace="giao_dien_chinh/navbarAdmin :: headerAdmin"></div>
<div class="d-flex">
    <div th:replace="giao_dien_chinh/navbarAdmin :: sidenavAdmin"></div>
    <input type="hidden" id="idNv" th:value="${idnv}">
    <div class="pt-3" style="width: calc(100% - 250px);">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h3>Bán hàng</h3>
                <button id="createOrderBtn" onclick="createOrder()" class="btn btn-warning px-4 py-2 fw-bold text-white rounded-pill">
                    <i class="fas fa-plus"></i> Tạo đơn hàng
                </button>
        </div>
            <ul class="nav nav-tabs" id="nav-tab" role="tablist">

            </ul>

            <div class="tab-content" id="nav-tabContent">


            </div>
            <div>
                <table>

                </table>
            </div>
<!--            Modal hiển thị danh sách sản phẩm-->
            <div class="modal fade" id="spModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Danh sách sản phẩm</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table id="example" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Mã CTSP</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Màu sắc</th>
                                    <th>Kích thước</th>
                                    <th>Chất liệu</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Ghi chú</th>
                                    <th>Ảnh</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="d : ${listCTSP}">
                                    <td th:text="${d.id}"></td>
                                    <td th:text="${d.sanPham.tenSanPham}"></td>
                                    <td th:text="${d.mauSac.ten_mau_sac}"></td>
                                    <td th:text="${d.kichThuoc.tenKichThuoc}"></td>
                                    <td th:text="${d.chatLieu.tenChatLieu}"></td>
                                    <td th:text="${d.soLuong}"></td>
                                    <td><span th:inline="text">[[${#numbers.formatDecimal(d.donGia, 0, 'COMMA', 0, 'POINT')}]]</span></td>
                                    <td th:text="${d.moTa}"></td>
                                    <td><img th:src="@{'../../images/' + ${d.anhSanPham}}" alt="Ảnh sản phẩm" style="width: 100px; height: 100px;"></td>
                                    <td>
                                        <button type="button" id="save" class="btn btn-primary" th:attr="data-id=${d.id}" data-bs-toggle="modal" data-bs-target="#quantityModal" onclick="openModalQuantity(this)">Chọn</button>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

<!--            Modal để chọn số lượng -->
            <div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="quantityLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="quantityLabel">Nhập số lượng</h1>
                            <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="ctsp_id">
                            <input type="hidden" id="anhsp_id">
                            <p>
                                <strong id="ten_sp"></strong>
                            </p>
                            <p>
                                <strong>Màu sắc : </strong><span id="mau_sac"></span>
                            </p>
                            <p>
                                <strong>Kích thước : </strong><span id="kich_thuoc"></span>
                            </p>
                            <p>
                                <strong>Đơn giá :
                                    <span style="color: red" id="don_gia"></span>
                                </strong>
                            </p>
                            <p>
                                <strong style="color: red">Số lượng :
                                    <span id="so_luong"></span>
                                </strong>
                                <input type="number" id="inp_so_luong"> <br>
                                <span id="errQuantityMes" style="color: red"></span>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

<!--            Modal chọn khach hang-->
            <div class="modal fade" id="khModal" tabindex="-1" aria-labelledby="khModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="khModalLabel">Khách hàng</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Mã khách hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Giới tính</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Ngày sinh</th>
                                        <th>Địa chỉ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="k : ${listKH}">
                                        <td th:text="${k.id}"></td>
                                        <td th:text="${k.tenKhachHang}"></td>
                                        <td th:text="${k.gioiTinh}"></td>
                                        <td th:text="${k.email}"></td>
                                        <td th:text="${k.soDienThoai}"></td>
                                        <td th:text="${k.ngaySinh}"></td>
                                        <td th:text="${k.diaChi}"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary" th:data-id="${k.id}" th:data-name="${k.tenKhachHang}" onclick="selectKH(this)">Chọn</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<script src="/js/sell/sell.js"></script>
</body>
</html>