<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <head th:replace="giao_dien_chinh/libAdmin :: libheaderadmin"></head>
    <link rel="stylesheet" href="../../css/login.css">
</head>
<body>
<form action="/login" method="post">
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" id="username" class="form-control" name="username" placeholder="Enter UserName">

    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="password" placeholder="Enter password">

    <button type="submit">Log In</button>
    <p class="social-text">Login with a social media account</p>

    <div class="social-icons">

        <button class="social-icon fb"><i class="fa-brands fa-facebook"></i></button>
        <button class="social-icon tw"><i class="fa-brands fa-twitter"></i></button>
        <button class="social-icon in"><i class="fa-brands fa-instagram"></i></button>

    </div>
</form>
</body>
</html>