<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.ico}">
    <title>Giỏ Hàng</title>
    <meta charset="utf-8">
    <head th:replace="giao_dien_chinh/libCustomer :: libheadercustomer"></head>
</head>
<body>
    <div th:replace="giao_dien_chinh/navbarCustomer :: headerCustomer"></div>
    <div>
        <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/ban-hang-online">
                            <i class="fas fa-home"></i>Trang chủ >
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="/ban-hang-online/sp">Sản phẩm ></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Giỏ hàng
                    </li>
                </ol>
        </div>
    </div>
<div class="container mt-3">

    <div class="row mt-3">
        <div class="col-7 border-box" >
            <h3>Giỏ hàng của bạn</h3>
            <div id="product">

            </div>
            <strong class="text-danger">Thành tiền : <span id="total-price"></span> VNĐ</strong>
        </div>
        <div class="col-5" id="info">
            <h3>Thông tin của bạn</h3>
            <form action="">
                <input type="hidden" id="idkh" th:value="${kh.id}">
                <p>
                    Tên: <span th:text="${kh.tenKhachHang}"></span>
                </p>
                <p>
                    Số điện thoại: <span th:text="${kh.soDienThoai}"></span>
                </p>
                <p>
                    Địa chỉ nhận hàng : <span id="locationKh" th:text="${kh.diaChi}"></span>
                    <a onclick="changeLocation()" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Thay đổi
                    </a>
                </p>
                <p>
                    <label for="ghiChu" class="form-label">Ghi chú :</label>
                    <input type="text" class="form-control" id="ghiChu" name="ghiChu">
                </p>
                <p>
                    Hình thức thanh toán :
                    <div class="row">
                        <div class="col">
                            <div class="payment-option">
                                <input type="hidden" value="COD">
                                <img src="../../images/freeShip.png" alt="Credit Card">
                                <div>
                                    <h5>Thanh toán khi nhận hàng</h5>
                                    <p>Thanh toán khi nhận hàng</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="payment-option">
                                <input type="hidden" value="Online">
                                <div>
                                    <img src="../../images/iconThanhToan.png" alt="PayPal">
                                </div>
                                <div>
                                    <h5>Thanh toán online</h5>
                                    <p>Quý khách sẽ thanh toán Online</p>
                                </div>
                            </div>
                         </div>
                    </div>
                </p>
                <button type="button" class="btn btn-warning rounded-pill" onclick="confirmOrder()">Đặt hàng</button>
            </form>
        </div>
    </div>
</div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thay đổi địa chỉ nhận hàng</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="newLocation" th:value="${kh.diaChi}"> <br>
                    <span class="text-danger" id="errLocation"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
<script src="../../js/onlineSell/onlinesell.js"></script>
</body>
</html>