<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.ico}">
    <meta charset="UTF-8">
    <head th:replace="giao_dien_chinh/libCustomer :: libheadercustomer"></head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
</head>
<body>
<div th:replace="giao_dien_chinh/navbarCustomer :: headerCustomer"></div>
<div th:replace="giao_dien_chinh/navbarCustomer :: navCustomer"></div>
<!--Banner-->
<div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../images/banner-1.jpg" class="d-block w-100 banner-image" alt="Banner">
        </div>
        <div class="carousel-item">
            <img src="../../images/banner-2.jpg" class="d-block w-100 banner-image" alt="Banner">
        </div>
        <div class="carousel-item">
            <img src="../../images/banner-3.png" class="d-block w-100 banner-image" alt="Banner">
        </div>
        <div class="carousel-item">
            <img src="../../images/banner-4.jpg" class="d-block w-100 banner-image" alt="Banner">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="spClbTitle">
        <span class="title-text">Sản phẩm Áo đấu CLB</span>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="c:${spClb}">
                <img class="card-img-top" th:src="@{'/images/'  + ${c.anhSanPham}}" alt="Sản phẩm 1">
                <p class="card-body">
                    <span th:text="${c.sanPham.tenSanPham}"></span> <br>
                    <span th:text="${c.donGia}"></span> <br>
                </p>
                <div class="card-footer">
                    <a th:href="@{'/ban-hang-online/detail?id=' + ${c.id}}" class="link-secondary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="d-flex justify-content-between mt-4 mb-4">
        <span class="title-text2">Áo đấu đội tuyển quốc gia</span>
        <a href="#">Xem chi tiết></a>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="homeCard card mx-4" style="width: 18rem;" th:each="d:${spDtqg}">
            <!-- Ảnh sản phẩm -->
            <img class="card-img-top" th:src="@{'/images/' + ${d.anhSanPham}}" alt="Sản phẩm 1">

            <div class="card-body">
                <!-- Tên sản phẩm -->
                <h5 class="card-title" th:text="${d.sanPham.tenSanPham}"></h5>

                <!-- Giá sản phẩm -->
                <p class="card-text" th:text="${d.donGia}"></p>

                <!-- Liên kết chi tiết sản phẩm -->
                <a th:href="@{'/ban-hang-online/detail?id=' + ${d.id}}" class="link-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4 mb-4">
        <span class="title-text2">Áo đấu không logo</span>
        <a href="#">Xem chi tiết></a>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="card mx-4" style="width: 18rem;" th:each="n:${spNologo}">
            <!-- Ảnh sản phẩm -->
            <img class="card-img-top" th:src="@{'/images/' + ${n.anhSanPham}}" alt="Sản phẩm 1">

            <div class="card-body">
                <!-- Tên sản phẩm -->
                <h5 class="card-title" th:text="${n.sanPham.tenSanPham}"></h5>

                <!-- Giá sản phẩm -->
                <p class="card-text" th:text="${n.donGia}"></p>

                <!-- Liên kết chi tiết sản phẩm -->
                <a th:href="@{'/ban-hang-online/detail?id=' + ${n.id}}" class="link-secondary">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 5, // Hiển thị 3 sản phẩm
            spaceBetween: 10, // Khoảng cách giữa các sản phẩm
            autoHeight: false,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            loop: true, // Cho phép quay vòng khi nhấn Prev/Next
            autoplay: {
                delay: 3000, // Chuyển slide mỗi 3 giây
                disableOnInteraction: false, // Vẫn tiếp tục autoplay khi người dùng tương tác
            },
            speed: 500,
            slidesPerGroup: 1, // Nhảy 1 sản phẩm khi ấn
        });
    });
</script>
</html>