<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="giao_dien_chinh/libCustomer :: libheadercustomer"></head>
    <title>Product</title>
</head>
<body>
<div th:replace="giao_dien_chinh/navbarCustomer :: headerCustomer"></div>
<div th:replace="giao_dien_chinh/navbarCustomer :: navCustomer"></div>
<div>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fas fa-home"></i> Trang chủ >
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
        </ol>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" th:each="s : ${listSp}">
                <div class="card h-100">
                    <img th:src="@{'../../images/' + ${s.anhSanPham}}" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" th:text="${s.sanPham.tenSanPham}"></h5>
                        <p class="card-text" th:text="${s.donGia}"></p>
                        <a th:href="@{'/ban-hang-online/ctsp/' + ${s.id}}" class="btn btn-primary mt-auto">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>